In [8]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/KaggleV2-May-2016.csv')

# Display first 5 rows
df.head()

In [11]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [12]:
df = df.drop_duplicates()

In [13]:
df.shape  # shows (rows, columns)

(110527, 14)

In [20]:
df.isnull().sum()

patientid         0
appointmentid     0
gender            0
scheduledday      0
appointmentday    0
age               0
neighbourhood     0
scholarship       0
hipertension      0
diabetes          0
alcoholism        0
handcap           0
sms_received      0
no_show           0
dtype: int64

In [21]:
df.to_csv('cleaned_medical_appointments.csv', index=False)